<html>
    <head>
        <title>Guess the language</title>
    </head>
    <body>
        <h1>Count the words</h1>
        <form method="post" action="/calc" >
            <label for="TextArea">TextArea</label><br>
            <textarea name="indata" rows="5" id = "indata" required></textarea><br>
            <button type="submit" value="Submit">Submit</button>
        </form>
    {% if disp %}
    <p>The characters and the count that appeared are:</p>
    <ul>
        {% for k,v in outdict.items() %}
        <li> {{ k }} : {{ v }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <br><br><br>

    <a href = " {{url_for("index")}} "> Go back to home page </a>
    </body>
</html>
